.btn-blue {
	background-color: black;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-family: 'Open+Sans', sans-serif;
}

.btn-blue:hover {
	background-color: #081fa3;
    color: whitesmoke;
}

